<%= render 'pages/home' unless user_signed_in? %>

<h1>Listing confessions</h1>


<div id="confessions" class="transitions-enabled">
  <% @confessions.each do |confession| %>
    <%= link_to confession do  %>
        <div class="box panel panel-default">
            <%= confession.description %>
        </div>
    <% end %>
  <% end %>
</div>


<br>

<%= link_to 'New Confession', new_confession_path %>
