<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @confession.description %>
</p>

<%= link_to 'Edit', edit_confession_path(@confession) %> |
<%= link_to 'Back', confessions_path %>
