<div class="jumbotron center">
	<h1>Welcome to Confessions</h1>
	<p>
		<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign In", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>